.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  gap: 10px;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Canvas styles */
.canvas {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  flex: 1;
}

/* Info panel styles */
.info {
  max-height: 100vh;
  margin: 2px;
  flex: 0 0 20%;
  text-align: left;
  padding: 10px;
  background-color: #f5f5f5;
  border-left: 1px solid #ddd;
  display: flex;
  flex-direction: column;
}

.info h3 {
  margin-top: 0;
  color: #333;
}

.info ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.info li {
  background-color: #dbdbdb;
  margin: 5px 0;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.info li:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.info li.selected {
  background-color: #cacaff;
}

.ruin-list-container {
  margin-top: 10px;
}

.ruin-list-container ul li { 
  font-size: 0.8em;
  font-weight: 600;
}

.path-list-container {
  margin-top: 10px;

}

.path-list-container ul summary, .path-list-container ul li{
  font-size: 0.8em;
  font-weight: 600;
}

#info details {
  padding: 5px;
}


.path:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.path {
  background-color: #dbdbdb;
}

.path-item {
  padding: 0.2em;
  background-color: #cacaff;
  display: block;
  position: relative;
}

.path-filter {
  background-color: #b49bff;
  padding: 0.2em;
  margin: 0.2em;
  padding: 0.2em;
  display: flex;
  align-items: center;
  font-size: 0.8em;
  font-weight: 600;
  justify-content: space-between;
}
.path-filter button {

  border-radius: 1em;
  border: none;
  background-color: #b49bff;
  color: white;
  font-size: 0.8em;
  font-weight: 600;
  cursor: pointer;
  height: 2em;
  width: 2em;
}

.path-filter button:hover {
  background-color: #9b80ff;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.large-title {
  font-size: 1.5em;
  font-weight: bold;
}

.help-overlay-icon {
  cursor: pointer;
  display: inline-block;
  position: absolute;
  color: #61dafb;
}

.help-overlay {
  position: relative;
  display: inline;
}

.help-overlay-icon:hover {
  scale: 1.5;
}

.help-overlay-content {
  padding: 1em;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 4px;
  z-index: 1;
  min-width: 200px;

  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0s linear 0.5s;

}


.overlay-visible {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s; 
}



.control-btn {
  margin-left: 1em;
  margin-top: 0.5em;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  border: 1px solid #ddd;
  background-color: #f5f5f5;
  cursor: pointer;
  transition: background-color 0.2s;
  font-size: 0.8em;
}

.control-btn:hover {
  background-color: #e0e0e0;
}

.box-series-container {
  position: relative;
}

.box-series {
  display: flex;
  flex-direction: column;
  gap: 1em;
  position: absolute;
  background-color: #f5f5f5;
  padding: 1em;
  top: 0;
  left: -2em;
}

.box-series:hover {
  transform: scale(2) translateY(1.5em);
  transition: transform 0.2s;

}

.box {
  display: flex;
}

.box span:first-child {
  display: block;
  width: 10px;
  height: 10px;
}

.box-series .box span:nth-child(2) {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s, visibility 0.2s;
  text-align: left;
  width: 0;
  height: 0;
}

.box-series:hover .box span:nth-child(2) {
  opacity: 1;
  font-size: 0.1em;
  display: block;
  padding-left: 1em;
  visibility: visible;
  width: auto;
  height: auto;
}


.path-actions {

  padding:0.5em;
}

.path-actions-expand-icon {
  font-size: 1.5em;
  cursor: pointer;
  background-color: #b49bff;
  font-weight: 600;
  border-radius: 0.5em;
  width: 1em;
  height: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}


.path-actions-expand-icon span {

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}